<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container-articles">
    <div class="articles-main">
        <app-big-card photoCover="https://th.bing.com/th/id/OIP.1ZUxn0a8DkcFtlmXpYVaiwHaD5?rs=1&pid=ImgDetMain" cardtitle="Disney lanca novos filmes" cardDescription="
Assista ao Disney+ - Séies, Filmes e Esportes
AnúncioDisney, Pixar, Marvel, Star Wars, National Geopgrahic, ESPN e Star em um só lugar. O Disney+ agora também tem os filmes e séries do Star e os esportes da ESPN."></app-big-card>
    </div>

    <div class="articles-others">
        <app-small-card imagem="https://th.bing.com/th/id/OIP.uRBGeOHtxSERbMQ1kE1SoAHaD5?rs=1&pid=ImgDetMain" cardTitle="
Netflix: Novidades da primeira semana de janeiro de 2021 - MeUGamer"></app-small-card>
        <app-small-card imagem="https://conteudo.imguol.com.br/c/noticias/2e/2025/05/12/mundo-vive-expectativa-por-um-possivel-encontro-esta-semana-entre-o-presidente-da-russia-vladimir-putin-e-o-presidente-da-ucrania-volodymyr-zelensky-1747049675767_v2_900x506.jpg" cardTitle="Zelensky acusa Rússia de 'tentar ganhar tempo' para continuar invasão"></app-small-card>
        <app-small-card imagem="https://th.bing.com/th/id/OIF.NGVLg88ds6gz0wRWV5Ovjg?rs=1&pid=ImgDetMain" cardTitle="realme GT 7 será o primeiro com Dimensity 9400e no mundo"></app-small-card>
    </div>
</div>